/* Reset */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova', 'Avenir', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  height: 100%;
  width: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Full-page structure */
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}














  .header-logo {
    height: 30px;
  }

